body {
    margin: 0px 0px 0px 0px;
    font-family: 'Lato', sans-serif;
}

.headline {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#headline1 {
    background-image: url('dancingBling.gif');
}

#headline2 {
    background-image: url('drakeTennis.gif');
}

#headline3 {
    background-image: url('drakeHands.gif');
}

#headline4 {
    background-image: url('drakeShrug.gif');
}

#headline5 {
    background-image: url('drakeShuffle.gif');
}

.headlineText {
    position: absolute;
    height: auto;
    width: auto;
    font: Lato;
}

.mediaType {
    top: 10px;
    left: 20px;
    font-size: 14px;
    color: magenta;
}

.comment {
    top: 10px;
    right: 20px;
    text-align: right;
    font-size: 14px;
    color: white;
}

.comment:hover {
    color: magenta;
}

.headlineTitle {
    left: 20px;
    right 20px;
    bottom: 20px;
    color: white;
}

.headlineTitle:hover {
    color: magenta;
}

#navigationBar {
    text-align: center;
    font: Lato;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}

#navigationBar span {
    display: inline;
    text-align: center;
}

#siteLogo {
    border-left: 1px solid lightgray;
}

#searchBar {
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

#profilePic {
    border-right: 1px solid lightgray;
}